body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin 0;
    padding 0;
}

h1 {
    color: #333;
    margin-top: 20px; /* add a space to the top*/
}

header {
    margin-bottom 20px; /* add a space below the text */
}

img {
    display: block;  /* Makes image a block element */
    margin: 0 auto;  /* Centers the image */
    max-width: 80%;  /* Ensures image is responsive */
}
